# IRIS Dataset Manipulations - Brief Description

In this task, I performed three main manipulations on the IRIS dataset:

1. **Rounded Sepal Length**:  
   Added a new column that contains the rounded value of each row's `Sepal.Length`.

2. **Conditional Character Extraction from Iris Name**:  
   Added a new column with the first letter of the `Species` name if the `Petal.Length` of that row is greater than the average `Petal.Length` for that species. Otherwise, it stores the last letter of the `Species` name.

3. **Histogram Visualization**:  
   Plotted a histogram of the `Petal.Length` feature to observe its distribution across the dataset.

### Importing the dataset

In [7]:
import pandas as pd

columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df = pd.read_csv('iris.csv', names=columns)

df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa